#intro {
  height: calc(100vh-4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
}
.bg {
  position: absolute;
  top: 1rem;
  right: 5rem;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
}
.introContent {
  height: 100vh;
  width: 100vh;
  margin-left: 4rem;
  margin-top: 1rem;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hello {
  font-size: 1.75rem;
  font-weight: 100;
}
.introName {
  color: #ff3ce2;
}
.introPara {
  font-size: medium;
  font-weight: 100;
}
.introTech {
  font-size: large;
  color: #d1e0e2;
}
.btn {
  background-color: white;
  color: #ff3ce2;
  margin: 1rem 0;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
}


